<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=2.0.8, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <appSettings>
    <add key="appUrl" value="https://arcteryx.com/ca/en/" />
    <add key="menShellJacket" value ="c/mens/shell-jackets/" />
    <add key="seleniumGridURL" value ="http://localhost:4444/wd/hub" />
    <add key="screenshotPath" value ="D:\WorkSpace\Github\Arcteryx\Arcteryx\bin\Debug\Screenshot\" />
    <add key="log4net.Config" value ="log4net.Config" />
    <add key="log4net.Config.Watch" value ="true" />
  </appSettings>

  <log4net>
    <appender name="LogAllAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\AllLogs.log"/>
      <param name="AppendToFile" value="true"/>
      <maximumFileSize value="5MB"/>
      <maxSizeRollBackups value="10"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d  %-5p %m%n"/>
      </layout>
    </appender>
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Error.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="5MB"/>
      <maxSizeRollBackups value="10"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %thread %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
    <logger name="LOGGER">
      <appender-ref ref="LogAllAppender"/>
      <appender-ref ref="ErrorAppender"/>
    </logger>
  </log4net>
</configuration>


